* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #222222;
    color:white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    background-blend-mode:darken;
}


/* ********************Landing Page************************* */

.header1 {
    width: 100vw;
    height: 80vh;
    background-image: url("./assets/images/Netflix-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content {
    position: relative;
    top:25vh;
}

.header-content h1 {
    font-size: 250%;
    padding-bottom: 1vh;
}

.header-content h2 {
    font-weight: lighter;
    padding-bottom: 1vh;
}

.header-content h3 {
    font-weight: lighter;
    padding-bottom: 1vh;
}

.logo {
    width:220px;
    position: absolute;
    left:0.9vw;
    top: -3vh;
}

.input-email {
    width: 550px;
    height: 60px;
    font-size: 1.75em;
}

.input-btn {
    width: 275px;
    height: 65px;
    background-color: #e50914;
    color: white;
    font-size: 1.75em;
}


.Sign-btn-container {
    position: absolute;
    left: 88vw;
    top: 3vh;    
}

.Sign-btn{
    width: 100px;
    height: 40px;
    background-color: #e50914;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
}

.x-content1 {
    width: 100vw;
    height: 45vh;
    background-color: black;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.x-content1-1 {
    text-align: left;
    width: 50%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.container {
    float: right;
}

.x-content-1-1-1 {
    padding-top: 12vh;
    padding-left:25vw;
    padding-right: 5vw;
}

.x-content1-2 {
    width: 50%;
    background-color: black;
}

.x-content1-2-gif {
    padding-top: 3vh;
    height:40vh;
    padding-right: 25vw;
}

.x-content2-2 {
    width: 50%;
    background-color: black;
}

.x-content2-2-gif {
    height:40vh;
    padding-left: 12.5vw;
}

.x-content1-head {
    font-size: 200%;
    padding: 1.5% 0%;
}

.x-content-1-2-1 {
    padding-top: 12vh;
    padding-right:25vw;
    padding-left: 2vw;
}


.Faq-container {
    width: 100vw;
    padding-bottom: 10vh;
    background-color: black;
    margin-top: 1vh;
    text-align: center;
}

.Faq-container-header {
    padding-top: 5%;
    padding-bottom: 3.5%;
    font-size: 350%;
}


.faq-container {
    position: relative;
    display: flex;
    margin-top: 1vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-left: 2%;
    padding-top: 2vh;
    font-size: 125%;
    width: 68vw;
    height: 6vh;
    background-color: grey;
}

.Faq-container-footer {
    padding-top: 7.5vh;
    font-size: 125%;
}

.drop-down-sign {
    position: absolute;
    left: 65vw;
}

.drop-down-para {
    text-align: left;
    width: 68vw;
    padding: 2vh 0vw;
    padding-left: 2vw;
    margin-top: 1vh;
    margin-left: 15vw;
    margin-right: 15vw;

    padding-top: 2vh;
    font-size: 150%;
    width: 68vw;
    background-color: grey;
}

footer {
    margin-top: 1vh;
    background-color: rgba(0, 0, 0, 0.75);
    padding-bottom: 50px;
}

table {
    text-align: left;
    padding-top: 2%;
    padding-left: 10%;
}

td {
    padding-right : 5%;
    padding-top: 10px;
    width: 10%;
}

.con-num {
    text-align: left;
    padding-left:10%;
    padding-top: 50px;
}

.lang-select {
    text-align: left;
    position: relative;
    left:-35%;
    margin-top: 2vh;
}

.platform-name {
    text-align: left;
    padding-left: 10%;
    margin-top: 2vh;
    margin-bottom: 5vh;
}
 

/* ****************************SignIn Page*******************************************  */


.login-page-container {
    position: absolute;
    width: 100vw;
    height: 100;
    background-image: url("./assets/images/Netflix-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sign-in-form {
    border-radius: 5px;
    text-align: left;
    margin: 0 auto -236px;
    max-width: 325px;
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    padding: 0 5%;
    padding: 60px 68px 40px;
    margin-bottom: 90px;
    margin-top: 90px;
    color:#b3b3b3;
    padding-bottom: 150px;
}

.signin-heading {
    padding-bottom: 30px;
    color:white;
}
.signin-input-form {
    width: 100%;
    height: 50px;
    color:white;
    background-color: #333;
    margin-bottom: 4%;
    border-radius: 5px;
    border: 0px;
} 

.sign-in-form-btn {
    background-color: red;
    margin-top: 7.5%;
    margin-left: 1%;
    font-weight: 700;
    font-size: 125%;
}

::placeholder {
    padding:20px;
    color:#b3b3b3;
    font-size: 120%;
}

.rem-help-container {
    display: flex;
    margin-bottom: 50px;
}

.help-container {
    position: relative;
    left: 37.5%;
}

.login-with-facebook {
    text-decoration: none;
    color:#b3b3b3;
}

.new-netflix-div {
    display: flex;
    margin-top: 10px;
}

.sign-up-now {
    text-decoration: none;
    padding-left: 2px;
    color:white;
}

.recaptcha {
    font-size: 90%;
    margin-top: 10px;
}