* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #222222;
    color:white;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-align: center;
    background-blend-mode:darken;

}

.header1 {
    width: 100vw;
    height: 80vh;
    background-image: url("./assets/images/Netflix-Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content {
    position: relative;
    top:25vh;
}

.header-content h1 {
    font-size: 250%;
    padding-bottom: 1vh;
}

.header-content h2 {
    font-weight: lighter;
    padding-bottom: 1vh;
}

.header-content h3 {
    font-weight: lighter;
    padding-bottom: 1vh;
}

.logo {
    width: 15%;
    height: 15%;
    position: absolute;
    left:2vw;
    top: -2vh;
}

.input-email {
    width: 550px;
    height: 60px;
    font-size: 1.75em;
}

.input-btn {
    width: 275px;
    height: 65px;
    background-color: #e50914;
    color: white;
    font-size: 1.75em;
}


.Sign-btn-container {
    position: absolute;
    left: 88vw;
    top: 3vh;    
}

.Sign-btn{
    width: 100px;
    height: 40px;
    background-color: #e50914;
    color: white;
    font-size: 1.5em;
    border-radius: 10px;
}

.x-content1 {
    width: 100vw;
    height: 45vh;
    background-color: black;
    margin-top: 1vh;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.x-content1-1 {
    text-align: left;
    width: 55%;
    background-color: black;
}

.container {
    float: right;
}

.x-content-1-1-1 {
    position: absolute;
    top:25%;
    left:5%
}

.x-content1-2 {
    width: 45%;
    background-color: black;
}

.x-content1-2-gif {
    position: absolute;
    left: 57.5vw;
    height:40vh;
}

.x-content2-2 {
    width: 45%;
    background-color: black;
}

.x-content2-2-gif {
    position: absolute;
    height:35vh;
    left:10vw;
    
}

.x-content1-head {
    font-size: 200%;
    padding: 1.5% 0%;
}

.x-content-1-2-1 {
    position: absolute;
    top:25%;
    left:55%
}


.Faq-container {
    width: 100vw;
    padding-bottom: 10vh;
    background-color: black;
    margin-top: 1vh;
    text-align: center;
}

.Faq-container-header {
    padding-top: 5%;
    padding-bottom: 3.5%;
    font-size: 350%;
}


.faq-container {
    position: relative;
    display: flex;
    margin-top: 1vh;
    margin-left: 15vw;
    margin-right: 15vw;
    padding-left: 2%;
    padding-top: 2vh;
    font-size: 125%;
    width: 68vw;
    height: 6vh;
    background-color: grey;
}

.Faq-container-footer {
    padding-top: 7.5vh;
    font-size: 125%;
}

.drop-down-sign {
    position: absolute;
    left: 65vw;
}

.drop-down-para {
    text-align: left;
    width: 68vw;
    padding: 2vh 0vw;
    padding-left: 2vw;
    margin-top: 1vh;
    margin-left: 15vw;
    margin-right: 15vw;

    padding-top: 2vh;
    font-size: 150%;
    width: 68vw;
    background-color: grey;
}

table {
    text-align: left;
    padding-top: 2%;
    padding-left: 10%;
}

td {
    padding-right : 5%;
    padding-top: 10px;
    width: 10%;
}

.con-num {
    text-align: left;
    padding-left:10%;
    padding-top: 50px;
}

.lang-select {
    text-align: left;
    position: relative;
    left:-35%;
    margin-top: 2vh;
}

.platform-name {
    text-align: left;
    padding-left: 10%;
    margin-top: 2vh;
    margin-bottom: 5vh;
}